/*
 Theme Name:   P2 hacked for Libre Graphics magazine issue 2.3
 Theme URI:    http://libregraphicsmag.com
 Description:  P2 hacked for Libre Graphics magazine, issue 2.3, guest edited by Manuel Schmalstieg (http://greyscalepress.com)
 Author:       Libre Graphics magazine & Manuel Schmalstieg
 Author URI:   http://libregraphicsmag.com
 Template:     p2
 Version:      1.0.0
 Tags:         hooray!
 Text Domain:  p2-child
*/

@import url("../p2/style.css");


/*---------------------------------------------------
	Fonts
---------------------------------------------------*/

@font-face {
font-family: 'PropCourier Sans';
src: local('PropCourier Sans'), url('http://libregraphicsmag.com/wp-content/themes/libregraphicsmag-new/fonts/PropCourierSans.ttf') format('truetype');
}

@font-face {
font-family: 'PropCourier Sans Medium';
src: local('PropCourier Sans Medium'), url('http://libregraphicsmag.com/wp-content/themes/libregraphicsmag-new/fonts/PropCourierSans-Medium.ttf') format('truetype');
}

@font-face {
font-family: 'PropCourier Sans Bold';
src: local('PropCourier Sans Bold'), url('http://libregraphicsmag.com/wp-content/themes/libregraphicsmag-new/fonts/PropCourierSans-Bold.ttf') format('truetype');
}


/*---------------------------------------------------
	Typography
---------------------------------------------------*/

body, form *, #respond #cancel-comment-reply-link, input, textarea {
	font-family: "PropCourier Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
#postbox label,
#help dd,
.inlineediting input.title {
	font-family: "PropCourier Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
}




